<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="src/css/style.css" />
    <title>Popip</title>
  </head>
  <body>
    <div id="app">
      <section id="form" class="addItem">
        <h5 class="sectionTitle">Registrar nuevo item</h5>
        <div class="form">
          <label> Nombre </label>
          <input id="itemName" type="text" v-model.trim="itemName" />
          <label> Descripción </label>
          <textarea id="itemDescription" v-model="itemDescription"></textarea>
          <button id="addButton" type="button" @click.prevent="onFormSubmit">
            Agregar Item
          </button>
          <button v-if="readyToUpdate" id="addButton" type="button" @click.prevent="updateItem">
            Actualizar Item
          </button>
        </div>
      </section>
      <section id="getItems">
        <h5 class="sectionTitle">Cosas por hacer [{{itemsCount}}]:</h5>
        <div id="itemList" class="items">
          <template v-if="hasItems">
            <ul>
              <li v-for="item in items" :key="item.Id">
                <input type="checkbox" v-model="item.Checked" />
                <label @click="selectItem(item.Id)" v-bind:class="{'item-checked': item.Checked}"
                >
                  {{item.Name}}: {{item.Description}}</label
                >
                <button class="deleteButton" @click="deleteItem(item.Id)">x</button>
              </li>
            </ul>
          </template>
          <template v-else>
            <p>No tienes elementos agregados</p>
          </template>
        </div>
      </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="module" src="src/js/modules/itemService.js"></script>
    <script type="module" src="src/js/index.js"></script>
    </script>
  </body>
</html>
