<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="src/css/style.css" />
    <title>Popip</title>
  </head>
  <body>
    <section id="form" class="addItem">
      <h5 class="sectionTitle">Registrar nuevo item</h5>
      <div class="form">
        <label> Nombre </label>
        <input id="itemName" type="text" v-model="itemName" />
        <label> Descripción </label>
        <textarea id="itemDescription" v-model="itemDescription"></textarea>
        <button id="addButton" type="button" @click.prevent="onFormSubmit">
          Agregar Item
        </button>
      </div>
    </section>
    <section id="getItems">
      <h5 class="sectionTitle">Cosas por hacer [{{itemsCount}}]:</h5>
      <div id="itemList" class="items">
        <template v-if="hasItems"> </template>
        <template v-else>
          <p>No tienes elementos agregados</p>
        </template>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="src/js/form.js"></script>
    <script src="src/js/itemList.js"></script>
    <!-- <script type="module" src="src/js/index.js"></script> -->
    <!-- <script type="module" src="src/js/modules/itemRender.js"></script> -->
    <!-- <script type="module" src="src/js/modules/itemService.js" ></script> -->
  </body>
</html>
